$form-elements-height: 50px

label,
p
  display: block
  font-size: 2rem
  margin-bottom: 5px

input
  height: $form-elements-height

textarea
  height: 150px
  resize: none
  padding-top: 10px

textarea,
input
  width: 100%
  font-size: 2rem
  padding-left: 15px
  padding-right: 15px
  border: 2px solid rgba(#cccccc, .5)
  font-family: sans-serif
  &:focus
    outline: none
    border-color: #cccccc

button  
  height: 60px

h1,
h2
  font-weight: normal

h1
  margin-bottom: 30px

h2
  margin-bottom: 10px

button
  font-size: 20px
  height: $form-elements-height
  width: 100%
  &:focus
    outline: none