.o-container
  padding-left: $space
  padding-right: $space
  width: 100%
  max-width: 640px

+MQ(1280px)
  .o-container
    padding-left: $space * 2
    padding-right: $space * 2
    max-width: 680px
    margin-left: auto
    margin-right: auto
