.c-errors
  transition: all .3s
  .c-errors__capture
    display: inline-block
  .c-errors__item
    display: inline
    color: darkorange
    background-image: linear-gradient(rgba(darkorange, .5), rgba(darkorange, .5))
    background-size: 1px 1px
    background-position: 100% 100%
    background-repeat: repeat-x
    position: relative
    transition: all .2s ease-out
    &:after
      content: ','
      position: absolute
      bottom: -4px
      transform: translateX(-2px)
    &:last-child
      &:after
        content: none
    + .c-errors__item
      margin-left: 15px

+MQ(1280px)
  .c-errors
    .c-errors__item
      &:hover
        background-image: linear-gradient(rgba(darkorange, 1), rgba(darkorange, 1))


